doctype html
html

	head
		script(src='vendor.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.js')
		script.
				angular.module('testModule', []).run(function($rootScope) {
					$rootScope.test = 123;
					console.log(angular.version.full)
				});

				angular.element(document).ready(function() {
					angular.bootstrap(document, ['testModule']);
				});

	body
		div {{test}}
		div {{test2}}
		script#root(src='http://localhost:4444/app.js')
